.THIS {
    background-color: grey;
}

.THIS.white {
    background-color: purple;
}

.THIS .red {
    background-color: red;
}

.THIS .blue {
    background-color: blue;
}

.THIS .green {
    background-color: green;
}

.THIS .innerinner {
    background-color: pink;
}